@import 'src/variable';

.section__confirm-mail {
  position: relative;
  min-height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  flex-direction: column;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 570px;
    margin: 0 auto;
    padding: 0 15px;

    .img-part {
      @media (min-width: 500px) {
        min-height: 423px;
      }

      img {
        width: 100%;
      }
    }

    .text-part {
      .title {
        font-weight: 600;
        font-size: 30px;
        line-height: 22px;
        color: $color-main-text;
        margin-bottom: 20px;
        @media (max-width: 520px) {
          font-size: 24px;
        }
      }

      .subtitle {
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        letter-spacing: 0.01em;
        color: $color-main-text;
        margin-bottom: 26px;
        @media (max-width: 520px) {
          font-size: 14px;
        }
      }
    }

    .btn-part {
      display: flex;
      justify-content: center;
      margin-bottom: 80px;
      @media (max-width: 520px) {
        flex-direction: column;
      }

      &_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 18px 30px;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        border-radius: 5px;
        transition: 0.5s ease;
        text-decoration: none;

        @media (max-width: 520px) {
          max-width: 100%;
          font-size: 14px;
        }

        &:hover {
          transition: 0.5s ease;
          transform: translateY(-5px);
        }
      }

      .btn-full {
        background: $color-blue;
        color: #fff;
        @media (max-width: 520px) {
          margin-right: 0;
        }
      }
    }
  }
}

.airrates {
  .section__confirm-mail {
    .content {
      .btn-part {
        .btn-full {
          background: $color-air;
        }
      }
    }
  }
}

.landrates {
  .section__confirm-mail {
    .content {
      .btn-part {
        .btn-full {
          background: $color-land;
        }
      }
    }
  }
}
