$color-main-text: #15354e;
$color-blue: #0088ff;
$color-white: #fff;
$color-blue-grey: #e9f0f7;
$color-grey-sec: #cbd8e3;
$color-dark-grey: #607385;
$color-light-blue: #e2f2ff;
$color-red: #f52c5c;
$color-bcg-light: #f8fafd;

$color-air: #ee3c40;
$color-land: #02bcb1;
$color-spec-border: #15354e;
